<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!--book分类分页查询 -->
	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>cn.zlb.goods.book.sservlet.BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
	<!--ajax异步校验的servlet配置 -->
	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>cn.zlb.goods.user.web.userServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/userServlet</url-pattern>
	</servlet-mapping>




	<!--验证码的servlet配置 -->
	<servlet>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>VerifyCodeServlet</servlet-name>
		<url-pattern>/VerifyCodeServlet</url-pattern>
	</servlet-mapping>

	<!-- 目录的servlet -->
	<servlet>

		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>cn.zlb.goods.category.web.CategoryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>


	<!-- 编码过滤器 -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>cn.itcast.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>